@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    --ff-Inter: "Inter",serif;
    --ff-Lexend: "Lexend",serif;

    --clr-dark-blue:hsl(233, 47%, 7%);
    --clr-desaturated-blue: hsl(244, 38%, 16%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-p-white: hsla(0, 0%, 100%, 0.75);
    --clr-stat-white: hsla(0, 0%, 100%, 0.6);

    /* Very dark blue (main background): hsl(233, 47%, 7%) */
   /* Dark desaturated blue (card background): hsl(244, 38%, 16%) */


}
em{
    color: hsl(277, 64%, 61%);
    text-decoration: none;
    font-style: normal;
}

body{
    background-color: var(--clr-dark-blue);
    font-family: var(--ff-Inter);
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    height: 100vh;
}

.card{
    background-color: var(--clr-desaturated-blue);
    width: 80%;
    text-align: center;
    overflow: hidden;
    border-radius: 8px 8px 8px 8px;
}

.card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
    filter:sepia(0.4) saturate(6) hue-rotate(250deg);
    opacity: 50%;


}


.card h1{
    color: var(--clr-white);
    font-size: 28px;
    margin: 1.5rem;
    margin-bottom: 0rem;

}

.card p{
    font-size: 15px;
    color: var(--clr-p-white);
    line-height: 24px;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
}

.numbers{
    display: flex;
    flex-direction: column;
}

.number{
    color: var(--clr-white);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0.4rem;
    margin-top: 1rem;
}

.theme{
    color: var(--clr-stat-white);
    font-family: var(--ff-Inter);
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 12px;
}

@media (min-width: 630px){

    body{
        display: flex;
        min-height: 100vh;
    }

    .flex-container{
        display: flex;
        width: 1450px;


    }
    .card{
        display: grid;
        grid-template-areas:
        'stats-text stats-img' ;
        width: 1450px;
        height: 50vh;


    }

    #stats-img{
        display: grid;
        grid-area: stats-img;

    }

    #stats-img img{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    #stats-text{
        display: grid;
        grid-area: stats-text;
        border: 1px solid white;


    }



}

